.container {
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 20px;
}

.button {
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: linear-gradient(#00ccff, #d400d4);
  background: linear-gradient(#00ccff, #d400d4);
  font-size: 20px;
}
