.container {
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.parrafo {
  color: white;
  font-family: "Roboto";
  font-size: 1.5em;
  line-height: 1.5; /* espacio entre lineas*/
  letter-spacing: 2px; /* espacio entre letras */
  word-spacing: 5px; /* espacio entre palabras */
  margin: 5%;
}

.h2 {
  color: aliceblues;
  font-family: "Roboto";
  font-size: 3em;
}

.img {
  height: 50%;
  width: 50%;
}

.buton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  color: linear-gradient(#00ccff, #d400d4);
  background: linear-gradient(#00ccff, #d400d4);
  margin: 5px;
  cursor: pointer;
}

.titulo {
  margin-top: 100px;
  font-size: 50px;
  background: linear-gradient(#00ccff, #d400d4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proyectosContainer {
  display: flex;
  align-items: center;
}

.proyectoContainer {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.caja {
  width: 550px; /* Ajusta el ancho según tus necesidades */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.imagenProyecto {
  width: 100%;
  height: auto;
}

.descripcionProyecto {
  margin-top: 10px;
  line-height: 1.5; /* espacio entre lineas*/
  letter-spacing: 2px; /* espacio entre letras */
  word-spacing: 5px; /* espacio entre palabras */
  font-size: 20px;
}

/* Estilos responsivos para teléfonos */
@media (max-width: 600px) {
  .container {
    margin: 10px;
  }

  .parrafo {
    font-size: 1em;
    margin: 2%;
  }

  .h2 {
    font-size: 2em;
  }

  .img {
    height: 30%;
    width: 30%;
  }

  .buton {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .titulo {
    margin-top: 50px;
    font-size: 30px;
  }

  .proyectoContainer {
    flex-direction: column;
    width: 100%;
  }

  .caja {
    width: 100%; /* Ajusta el ancho según tus necesidades */
  }

  .imagenProyecto {
    width: 100%;
  }

  .descripcionProyecto {
    font-size: 16px;
  }
}

/* Estilos responsivos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    margin: 15px;
  }

  .parrafo {
    font-size: 1.25em;
    margin: 3%;
  }

  .h2 {
    font-size: 2.5em;
  }

  .img {
    height: 40%;
    width: 40%;
  }

  .buton {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .titulo {
    margin-top: 75px;
    font-size: 40px;
  }

  .proyectoContainer {
    flex-direction: column;
    width: 70%;
  }

  .caja {
    width: 70%; /* Ajusta el ancho según tus necesidades */
  }

  .imagenProyecto {
    width: 70%;
  }

  .descripcionProyecto {
    font-size: 18px;
  }
}

/* Estilos responsivos para computadoras */
@media (min-width: 1025px) {
  .container {
    margin: 20px;
  }

  .parrafo {
    font-size: 1.5em;
    margin: 5%;
  }

  .h2 {
    font-size: 3em;
  }

  .img {
    height: 50%;
    width: 50%;
  }

  .buton {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .titulo {
    margin-top: 100px;
    font-size: 50px;
  }

  .proyectoContainer {
    flex-direction: row;
    width: 30%;
  }

  .caja {
    width: 550px; /* Ajusta el ancho según tus necesidades */
  }

  .imagenProyecto {
    width: 100%;
  }

  .descripcionProyecto {
    font-size: 20px;
  }
}
