.container {
  justify-content: center;
  align-items: center;
  font-family: "Armata", sans-serif;
}

.imageStyle {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.h1 {
  color: rgb(240, 243, 246);
  font-family: "Armata", sans-serif;
  text-align: center;
}

.h2 {
  text-align: center;

  color: rgb(240, 243, 246);
  font-family: "Armata", sans-serif;
}

.paragraphStyle {
  color: rgb(240, 243, 246);
  font-size: 1em;
  line-height: 1.6;
}
