.container {
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: rgb(153, 149, 149);
}

.parrafo {
  color: rgb(153, 149, 149);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  line-height: 1.7; /* espacio entre lineas*/
  letter-spacing: 2px; /*espacio entre letras*/
  word-spacing: 10px; /*espacio entre palabras*/

  margin-top: 0; /* margen superior ajustado */
  margin-bottom: 10px; /* margen inferior ajustado */
  padding: 10px;
}

.h1 {
  font-size: 40px;
  background: linear-gradient(#00ccff, #d400d4);
  background-clip: text;
  color: transparent;
}
/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 600px) {
  .parrafo {
    font-size: 1em;
  }

  .h1 {
    font-size: 30px;
  }
}
