.container {
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: white;
}

.parrafo {
  margin: 100px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.7; /* espacio entre lineas*/
  letter-spacing: 2px; /*espacio entre letras*/
  word-spacing: 10px; /*espacio entre palabras*/

  margin-top: 250px; /* margen superior ajustado */
  margin-bottom: 10px; /* margen inferior ajustado */
  padding: 10px;
}

.h1 {
  font-size: 40px;
  background: linear-gradient(#00ccff, #d400d4);
  background-clip: text;
  color: transparent;
}

/* Estilos responsivos para teléfonos */
@media (max-width: 600px) {
  .parrafo {
    font-size: 1em;
  }

  .h1 {
    font-size: 30px;
  }
}

/* Estilos responsivos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
  .parrafo {
    font-size: 1.25em;
  }

  .h1 {
    font-size: 35px;
  }
}

/* Estilos responsivos para computadoras */
@media (min-width: 1025px) {
  .parrafo {
    font-size: 1.5em;
  }

  .h1 {
    font-size: 40px;
  }
}
