@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.container {
  text-align: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: monospace;
}

@media (max-width: 600px) {
  .container {
    font-size: 0.8em;
  }
}
