.sidebar {
  top: 110px;
  width: 800px;
  height: 400px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(243, 211, 168, 0.1); /* Fondo casi transparente */
  padding: 20px;
  margin: 20px;
  border-radius: 50px; /* Agrega bordes circulares */
  display: flex;
  position: relative;
  background: linear-gradient(to right, #009dff00, #ff00d900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar h1 {
  margin: 10px;
  font-size: 4em;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  white-space: nowrap; /* Añadido para mantener el texto en una sola línea */
}

.p {
  font-size: 2em;
  background: linear-gradient(#00ccff, #d400d4);
  background-clip: text;
  color: transparent;
}

/* Estilos para la imagen */
.img {
  border-radius: 100%; /* Hace que la imagen sea redondeada */
  width: 300px; /* Ajusta el ancho según tu preferencia */
  height: 100%; /* Ajusta la altura según tu preferencia */
  object-fit: cover; /* Evita que la imagen se estire */
  margin-bottom: 4px; /* Agrega espacio entre la imagen y el contenido siguiente */
}

.buton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  color: linear-gradient(#00ccff, #d400d4);
  background: linear-gradient(#00ccff, #d400d4);
  margin: 5px;
  cursor: pointer;
}

.h2 {
  margin: 50px;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Estilos responsivos para teléfonos */
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar h1 {
    font-size: 2em;
  }

  .img {
    width: 200px;
  }

  .buton {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

/* Estilos responsivos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: 70%;
    height: auto;
  }

  .sidebar h1 {
    font-size: 3em;
  }

  .img {
    width: 250px;
  }

  .buton {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
}

/* Estilos responsivos para computadoras */
@media (min-width: 1025px) {
  .sidebar {
    width: 800px;
    height: 400px;
  }

  .sidebar h1 {
    font-size: 4em;
  }

  .img {
    width: 300px;
  }

  .buton {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
