.sidebar {
  top: 0;
  width: 90%;
  height: 300px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(243, 211, 168, 0.1); /* Fondo casi transparente */
  padding: 10px;

  border-radius: 20px; /* Agrega bordes circulares */

  margin: 10px; /* Agrega márgenes */
  display: inline-flex;
  justify-content: space-between;

  align-items: center;
  display: flex;
  position: relative;
  background: linear-gradient(to right, #009dff00, #ff00d900);
}
.sidebar h1 {
  font-size: 4em;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(153, 149, 149);
  font-family: "Roboto", sans-serif;
  white-space: nowrap; /* Añadido para mantener el texto en una sola línea */
}

/* Estilos para la imagen */
.img {
  border-radius: 100%; /* Hace que la imagen sea redondeada */
  width: 300px; /* Ajusta el ancho según tu preferencia */
  height: 100%; /* Ajusta la altura según tu preferencia */
  object-fit: cover; /* Evita que la imagen se estire */
  margin-bottom: 4px; /* Agrega espacio entre la imagen y el contenido siguiente */
}

.buton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  color: linear-gradient(#00ccff, #d400d4);
  background: linear-gradient(#00ccff, #d400d4);
  margin: 5px;
  cursor: pointer;
}
.h2 {
  position: relative;
  color: rgb(153, 149, 149);
  font-family: "Roboto", sans-serif;
}
/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar h1 {
    font-size: 2em;
  }

  .img {
    width: 200px;
  }

  .buton {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
