@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.sidebar {
  top: 0;
  width: 90%;
  height: 300px;
  font-family: monospace;
  background-color: rgba(243, 211, 168, 0.1); /* Fondo casi transparente */
  padding: 10px;

  border-radius: 20px; /* Agrega bordes circulares */

  margin: 10px; /* Agrega márgenes */
  display: inline-flex;
  justify-content: space-between;

  align-items: center;
  display: flex;
  position: relative;
  background: linear-gradient(to right, #009dff00, #ff00d900);
}
.sidebar h1 {
  font-size: 3em;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(246, 243, 243);
  font-family: monospace;
  white-space: nowrap; /* Añadido para mantener el texto en una sola línea */
}

/* Estilos para la imagen */
.img {
  border-radius: 100%; /* Hace que la imagen sea redondeada */
  width: 300px; /* Ajusta el ancho según tu preferencia */
  height: 100%; /* Ajusta la altura según tu preferencia */
  object-fit: cover; /* Evita que la imagen se estire */
  margin-bottom: 4px; /* Agrega espacio entre la imagen y el contenido siguiente */
}

.buton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  color: linear-gradient(#00ccff, #d400d4);
  background: linear-gradient(#00ccff, #d400d4);
  margin: 5px;
  cursor: pointer;
}
.h2 {
  position: relative;
  color: rgb(246, 243, 243);
  font-family: monospace;
}
